!!!
%html(ng-app="exampleApp")
  %head
    %title Project Manager
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body(ng-controller="ApplicationController")
    #wrapper
      .logout
        -#%a(ng-click="logout()") logout
        - if user_signed_in?
          = form_tag destroy_user_session_path, method: :delete do|f|
            %label
              = submit_tag 'logout'
              .icon
      #throbber(throbber)
      #container(ng-cloak)
        %ng-view